@charset "UTF-8";

.col-md-9 {
	margin-top:  40px;
	border: 1px solid #F00;
}
.item {
	height: 190px;
	margin: 10px 0 10px 0;
	border: 1px solid #0f0;
}
.item > ul > li {
	display: inline-block;
	width: 150px;
	height: 190px;
	border: 1px solid #00f;
}
.item > ul > li > a {
	display: block;
}