@charset "UTF-8";
/* 공통 사항 */
body {
	min-height: 800px;
	background-color: #CCC;
}
.col-sm-11 {
	margin-top: 100px;
}
/* orderList 정렬, 검색 부분 */
#orderListArrayDiv {
	display: inline-block;
	width: 20%;
	margin-bottom: 20px;
	padding: 0 5px;
	background-color: #FFF;
	border-radius: 5px;
}
#arrayType {
	border: none;
}
#arrayType:focus {
	box-shadow: none;
}
#orderListSearchDiv {
	display: inline-block;
	width: 20%;
	float: right;
	padding: 0 5px;
	background-color: #FFF;
	border-radius: 5px;
}
#orderListSearchInput {
	display: inline-block;
	width:83%;
	margin: 0;
	border: none;
}
#orderListSearchInput:focus {
	box-shadow: none;
}
#orderListSearchBtn {
	display: inline-block;
	width: 15%;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #FFF;
	box-shadow: none;
}
/* orderList-목록 내용부분 */
.listDivBox {
	background-color: #FFF;
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 30px;
}
.orderListTable {
	width: 100%;
	border-bottom: 1px solid #CCC;
}
.orderListTable th {
	border-bottom: 1px solid #000;
}
.orderListTable td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.orderListTd1 {
	width: 15%;
	text-align: center;
	border-right: 1px solid #ccc;
}
.orderState01 {
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	width: 60%;
	margin: auto;
	border-radius: 20px;
	border: 1px solid #000;
}
.orderState02 {
	color: #25b74b;
	font-weight: bold;
	padding: 10px;
	width: 60%;
	margin: auto;
	border-radius: 20px;
	border: 1px solid #25b74b;
}
.orderState03 {
	color: #385bda;
	font-weight: bold;
	padding: 10px;
	width: 60%;
	margin: auto;
	border-radius: 20px;
	border: 1px solid #385bda;
}
.orderState04 {
	color: #FFF;
	background-color: #767677;
	font-weight: bold;
	padding: 10px;
	width: 60%;
	margin: auto;
	border-radius: 20px;
	border: 1px solid #767677;
}
.orderListTd2 {
	padding-left: 20px;
	padding-right: 20px;
}
.orderListTd2 hr {
	margin: 10px 0;
}
.orderListTd2 > div > p {
	display: inline-block;
	margin: 0;
}
.orderListTd2Title {
	font-weight: bold;
	font-size: 13px;
	margin-right: 20px !important;
}
.orderListTd3 {
	text-align: center;
	width: 10%;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.orderListTd3Title {
	font-weight: bold;
	font-size: 13px;
}
.orderListTd4 {
	width: 12%;
	text-align: center;
}
.orderListTd4FBtn {
	margin-bottom: 5px;
	border: none;
	background-color: #17465a;
	color: #FFF;
	font-weight: 900;
	padding: 10px 18px;
}
.orderListTd4FBtnDone {
	margin-bottom: 5px;
	border: none;
	background-color: #5f737b;
	color: #FFF;
	font-weight: 900;
	padding: 10px 18px;
}
.orderListTd4SBtn {
	margin-top: 5px;
	border: none;
	background-color: #f19643;
	color: #363636;
	font-weight: 900;
	padding: 10px 18px;
}
/* orderList-예약 시간 부분 */
.orderListTimeTable {
	width: 100%;
}
.orderListTimeTable td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.orderListTimeTable input {
	width: 20%;
	display: inline-block;
	margin-left: 20px;
}
.orderListTimeTable button {
	width: 10%;
	display: inline-block;
}
/* orderDetail */
.detailDivBox {
	background-color: #FFF;
	border-radius: 20px;
	padding: 30px;
}
#orderDetailTable {
	width: 100%;
}
/* 굵은 글씨 p요소 */
.detailPBold {
	font-weight: bold;
	display: inline-block;
	font-size: 13px;
}
/* 굵은 글씨 옆 p요소 */
.detailPInline {
	margin-left: 10px;
	display: inline-block;
}
#orderDetailTable  tr {
	border-bottom: 1px solid #CCC;
}
#orderDetailTable th {
	border-bottom: 1px solid #000;
}
#orderDetailTable th p {
	display: inline-block;
}
#orderDetailTable th button {
	float: right;
	border: none;
	background-color: #f19643;
	color: #FFF;
	padding: 5px 10px;
	margin-bottom: 10px;
}
#orderDetailTable td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.orderDetailTd1 {
	width: 15%;
	text-align: center;
	border-right: 1px solid #ccc;
	background-color: #f6f6f6;
}
#orderDetailTd2 {
	padding-left: 20px;
	padding-right: 20px;
}
#orderDetailTd2 > div > p {
	display: inline-block;
	margin: 0;
}
#orderDetailTd2 > div > button {
	display: inline-block;
	color: #FFF;
	margin-left: 20px;
	background-color: #2c2c2c;
	padding: 3px 8px;
	border: none;
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
}
#orderDetailTd2 > div > a:hover {
	text-decoration: none;
}
#orderDetailTd2 hr {
	margin: 10px 0;
}
#orderDetailTd3 {
	width: 10%;
	text-align: center;
	border-left: 1px solid #CCC;
	background-color: #f6f6f6;
}
#orderDetailTd4 {
	width: 15%;
	text-align: center;
	border-right: 1px solid #ccc;
	background-color: #f6f6f6;
}
#orderDetailTd4 p {
	margin: 0;
}
#orderDetailTd5 {
	padding-left: 20px;
}
#orderDetailTd5 p {
	margin: 0;
}
/* 페이징 부분 */
.orderPaging {
	text-align: center;
}


/* orderRegisterForm */
.registerDivBox {
	background-color: #FFF;
	border-radius: 20px;
	padding: 30px;	
}
#registerTable1 {
	width: 100%;
}
#registerTable1 th {
	padding: 10px;
	border-bottom: 1px solid #000;
}
#registerTable1 td {
	padding: 10px;
}
.registerTdTitle {
	width: 20%;
	text-align: center;
	background-color: #f6f6f6;
}
#registerTable2 {
	width: 100%;
}
#registerTable2 tr {
	border-bottom: 1px solid #CCC;	
}
#registerTable2 th {
	padding: 10px;
	border-bottom: 1px solid #000;	
}
#registerTable2 td {
	padding: 10px;
}
/*배송지 input 요소*/
#departurePostnum {
	width: 20%;
	display: inline-block;
}
#arrivalPostnum {
	width: 20%;
	display: inline-block;
}
.postBtn {
	width: 20%;
	display: inline-block;
	margin-bottom: 5px;
}
.address1 {
	margin-bottom: 5px;
}
#order_memo {
	display: none;
}
#distance {
	width: 90%;
	display: inline-block;
}
.registerTdTitle2 {
	width: 15%;
	text-align: center;
	background-color: #f6f6f6;
}
#price {
	width: 16%;
	padding-left: 20px;
}
/* 버튼 부분 */
.registerBtnDiv {
	text-align: center;
}
.registerFormBtn {
	width: 20%;
	display: inline-block;
	margin: 20px auto auto auto;
	height: 40px;
}
#registerBtn {
	background-color: #f19643;
	color: #fff;
	border: none;
}
/*예약하기를 눌렀을 때*/
.orderListTimeTable {
	display: none;
}