@charset "UTF-8";
/*베스트 상품*/
#best {
	border-bottom: 1px dotted #FFF;
	padding-bottom: 5px;
}
#best h4 {
	font-size: 25px;
	letter-spacing: 4px;
	color: #FFF;
}
#best img {
	width: 400px;
	height: 240px; 
}
#best figure {
	text-align: center;
}
#best figure a{
	color: #FFF;
	font-size: 22px;  
	font-weight: 500;
}
#best figure figcaption {
	margin: 10px 0 10px 0;
}
/*추천상품*/
#recommend {
	border-bottom: 1px dotted #FFF;
	padding-bottom: 5px;
}
#recommend h4 {
	font-size: 25px;
	letter-spacing: 4px;
	color: #FFF;
}
#recommend img {
	width: 400px;
	height: 240px; 
}
#recommend figure {
	text-align: center;
}
#recommend figure a{
	color: #FFF;
	font-size: 22px;  
	font-weight: 500;
}
#recommend figure figcaption {
	margin: 10px 0 10px 0;
}
/*새로운 상품*/
#new {
	border-bottom: 1px dotted #FFF;
	padding-bottom: 5px;
}
#new h4 {
	font-size: 25px;
	letter-spacing: 4px;
	color: #FFF;
}
#new img {
	width: 400px;
	height: 240px; 
}
#new figure {
	text-align: center;
}
#new figure a{
	color: #FFF;
	font-size: 22px;  
	font-weight: 500;
}
#new figure figcaption {
	margin: 10px 0 10px 0;
}