@charset "UTF-8";
#best {
	border-bottom: 1px dotted #FFF;
	padding-bottom: 5px;
}
#best h4 {
	font-size: 25px;
	letter-spacing: 4px;
	color: #FFF;
}
#best img {
	width: 150px;
	height: 150px; 
}
#best figure {
	text-align: center;
}
#best figure a{
	color: #FFF;
	font-size: 18px;  
}