<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.movie">
	
	<!-- 검색조건 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == t">
				AND m.title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == g">
				AND g.genre LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == r">
				AND m.rating LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == d">
				AND m.director LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
	<!-- 총 데이터 건 수 구하기 -->
	<select id="totalCount" parameterType="com.practice.common.util.SearchCriteria" resultType="Integer">
		SELECT COUNT(*)
		FROM movies_table m, genre_table g
		WHERE m.genre_code = g.genre_code
	</select>
	
</mapper>   
